extends layout

block content
    .container
        .text-center
            h1= title
            img(src='/images/anhdep.jpg', alt='Ảnh cá nhân',style='width: 300px; height: 300px; border-radius: 50%;')
            p Tôi là Trịnh Điền
            p Liên hệ: https://www.facebook.com/trinhdien03092003
